.profile {
  width: 360px;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.stats {
  background-color: rgba(245, 245, 245, 1);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
  width: 100%;
  padding: 15px 5px;
  border: 1px solid rgb(216, 213, 213);
}

.description {
  background-color: #fff;
  text-align: center;
  padding: 30px;
}

.avatar {
  margin: auto;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(230, 230, 230);
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.tag {
  font-size: 16px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 0;
}

.location {
  font-size: 16px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 0;
}

.label {
  text-transform: capitalize;
  font-size: 14px;
  color: grey;
}

.quantity {
  font-weight: bold;
  margin-top: 5px;
}