.transactionHistory {
    width: 750px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-spacing: 0;
    margin: 40px auto;

    background-color: rgba(245, 245, 245, 1);  
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  td {
    text-transform: capitalize;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #a2358c;
    color: white;
    text-transform: uppercase;
  }

  tr:nth-child(2n){background-color: #d49cd2;}

  tr:hover {background-color: #796fd8;}
  
